<!DOCTYPE html>
<html>
  <head>
    <title>Hospital Platform</title>
  </head>

  <body>
    <h1>Hospital Platform</h1>

    <a href="/login?type=staff"> STAFF </a>

    <br /><br />

    <a href="/login?type=patient"> PATIENT </a>
  </body>
</html>
