<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>

  <body>
    <h1><%= type.toUpperCase() %> LOGIN</h1>

    <form action="/login" method="POST">
      <!-- hidden field to keep account type -->

      <input type="hidden" name="account_type" value="<%= type %>" />

      <label> Identifier </label>

      <input type="text" name="identifier" required />

      <br /><br />

      <label> Password </label>

      <input type="password" name="password" required />

      <br /><br />

      <button>Login</button>
    </form>

    <br />

    <a href="/signup?type=<%= type %>"> Create Account </a>
  </body>
</html>
